
.active {
    background-color: rgb(8, 60, 202);
}
    
     .navbar li {
    display: flex;
    justify-content: space-evenly;
    align-items:flex-end;
padding:10px;
    background-color:rgb(111, 92, 180);
   
}
.navbar{
    background-color: rgb(111, 92, 180);
    position:sticky;
    top: 0;
}
 .hello{
    position: sticky;
    top: 0;
    color:aqua;
    margin-bottom: var(--height-label);
    text-align: center;
 }
nav .title{
 font-size:2rem;
 margin:1rem; 
 font-weight: bold;
 text-decoration: none;
 color:white; 
 
}


nav ul{
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    list-style:none ;
    
}

nav ul li a {
    display:block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius:0.5rem;
font-weight: bold;
font-size: 1.5rem;
}

nav ul li a:not(.active):hover{
    background-color:#82941d;

}

button {
    background-color: #4caf50;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }



@media(max-width:480px){

.navbar{
    flex-direction: column;
align-items:start;
}
nav ul{
    display:none;
    flex-direction: column;
    width:100%;
    margin-bottom:0.25rem;
}
nav ul li{
    width:100%;
    text-align: center;

}
nav ul li a{
  margin: 0.2rem 0.5 rem  
}
}
